* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.center {
    max-width: 1170px;
    width: 100%;
    display: block;
    margin: 0 auto;
}

a {
    cursor: pointer;
}

.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 114px;
}

#search {
    position: relative;
}

#txtSearch {
    width: 198px;
    height: 45px;
    padding: 10px;
    border: 1px solid #cccccc;
}

#txtSearch::placeholder{
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    font-size: 12px;
    color: #7f7f7f
}

#lupa {
    position: absolute;
    right: 15px;
    top: 0;
    bottom: 0;
    margin: auto;
}

.logo {
    width: 271px;
    height: 68px;
}

#login {
    width: 19px;
    height: 25px;
}

#carrinho {
    width: 31px;
    height: 27px;
}

#header-actions {
    position: relative;
    width: 198px;
    display: flex;
    justify-content: flex-end;
    gap: 10px;
    padding-right: 10px;
}

.qtd {
    width: 20px;
    height: 20px;
    background-color: #ffa200;
    border-radius: 100%;
    padding: 5px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    font-size: 10px;
    color: #ffffff;
    position: absolute;
    right: -1px;
    top: -8px;
    text-align: center;
}

.navbar {
    background-color: #8158c5;
    height: 50px;
    display: flex;
    align-items: center;
}

.menu {
    display: flex;
    justify-content: center;
}

.categories {
    display: flex;
    list-style: none;
    gap: 10px;
}

.category {
    padding: 0 15px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 300;
    font-size: 14px;
    color: #ffffff;
}

.menu-hamburger {
    padding-left: 32px;
}
