* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    font-size: 12px;
    color: #7f7f7f;
}

.center {
    max-width: 1170px;
    width: 100%;
    display: block;
    margin: 0 auto;
}

.home-title {
    display: none;
}

a, button {
    cursor: pointer;
}

a {
    text-decoration: none;
}

li {
    list-style: none;
}

header {
    z-index: 99;
    position: fixed;
    width: 100%;
    background: #ffffff;
    top: 0;
}

.fixed {
    position: fixed;
    width: 100%;
    background: white;
}

.fixed .header {
    height: 70px;
}

.fixed .logo {
    width: 209px;
    height: 53px;
}

.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 114px;
}

#search {
    position: relative;
}

#txtSearch {
    width: 198px;
    height: 45px;
    padding: 10px;
    border: 1px solid #cccccc;
}

#txtSearch::placeholder{
    font-weight: 400;
}

#lupa {
    position: absolute;
    right: 15px;
    top: 0;
    bottom: 0;
    margin: auto;
}

.logo {
    width: 271px;
    height: 68px;
}

#login {
    width: 19px;
    height: 25px;
}

#carrinho {
    width: 31px;
    height: 27px;
}

#header-actions {
    position: relative;
    width: 198px;
    display: flex;
    justify-content: flex-end;
    gap: 10px;
    padding-right: 10px;
}

.qtd {
    width: 20px;
    height: 20px;
    background-color: #ffa200;
    border-radius: 100%;
    padding: 5px;
    font-weight: 400;
    font-size: 10px;
    color: #ffffff;
    position: absolute;
    right: -1px;
    top: -8px;
    text-align: center;
}

.navbar {
    background-color: #8158c5;
    height: auto;
    display: flex;
    align-items: center;
}

.menu {
    display: flex;
    justify-content: center;
}

.categories {
    display: flex;
    gap: 10px;
}

.category {
    height: 50px;
    display: flex;
    align-items: center;
    padding: 0 15px;
    position: relative;
    transition: all 0.3s;
}

.top-categories .category:nth-child(n+8) {
    display: none;
}

.top-categories .menu-title {
    color: #ffffff;
    font-size: 14px;
}

.submenu {
    background: white;
    position: absolute;
    top: 50px;
    left: 0;
    width: max-content;
    display: none;
}

.submenu-item {
    line-height: 36px;
    padding: 0 15px;
    position: relative;
}

.level-3 {
    position: absolute;
    top: 0;
    left: 167px;
}

.menu-hamburger {
    cursor: pointer;
}

.all-categories {
    position: relative;
    display: flex;
    align-items: center;
    padding-left: 24px;
}

.list-categories {
    position: absolute;
    background: white;
    width: max-content;
    top: 50px;
    right: 0px;
    display: none;
}

.all-categories .submenu {
    right: 100%;
    left: unset;
    top: 0;
}

.all-categories:hover .list-categories{
    display: block;
}

.submenu, .list-categories {
   box-shadow: 0px 0px 6px 2px rgba(0 0 0 / 25%);
}

.submenu-item:hover {
    background-color: #7f7f7f;
}

.submenu-item:hover > a {
    color: #ffffff;
}

.top-categories .category:hover {
    background-color: #ffa200;
    color: #8158c5;
}

.has-dropdown:hover > .submenu {
    display: block;
}

main {
    padding-bottom: 129px;
    margin-top: 164px;
}

.block-1 {
    overflow: hidden;
    position: relative;
}

.block-1 .slick-arrow {
    position: absolute;
    z-index: 9;
    width: 47px;
    top: 0;
    bottom: 0;
    height: 45px;
    margin: auto;
    font-size: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    background: none;
    cursor: pointer;
}

.block-1 .slick-arrow::after {
    content: "";
    width: 83px;
    height: 40px;
    display: block;
    border-top: 7px solid #7f7f7f;
    border-right: 7px solid #7f7f7f;
    transition: all 0.3s;
}

.block-1 .slick-arrow:hover::after {
    border-color: #ffa200;
}

.block-1 .slick-prev::after {
    transform: rotate(-140deg);
}

.block-1 .slick-next::after {
    transform: rotate(45deg);
}

.block-1 .slick-track {
    display: flex;
}

.banner {
    display: inline-block;
}

.fullbanner {
    display: block;
    width: 100%;
}

.block-2 {
    background-color: #ffa200;
    padding: 18px 0;
}

.banner-categories {
    display: flex;
    justify-content: space-between;
}

.category-banner {
    height: 100px;
    transition: all 0.5s;
}

.category-banner:hover {
    filter: drop-shadow(5px 10px 5px rgba(0,0,0,.5));
}

.title-category {
    font-weight: 600;
    font-size: 24px;
    color: #7f7f7f;
    text-align: center;
    padding: 40px 0;
}

.destaques {
    padding-bottom: 20px;
}

.products .slick-list {
    width: 100%;
    overflow: hidden;
}

.products.slick-slider {
    margin: 0 -9px;
}

.products .slick-track {
    display: flex;
}

.product.slick-slide {
    margin: 0 9px;
    display: inline-block;
}

.box-image {
    position: relative;
}

.flags {
    position: absolute;
}

.flag {
    padding: 12px 19px;
    background-color: #8158c5;
    display: inline-block;
    color: white;
    text-transform: uppercase;
}

.product-image {
    max-width: 279px;
    padding-bottom: 17px;
}

.box-btn-buy {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(129, 88, 197, 0.5);
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;
    transition: all 0.3s
}

.btn-buy {
    cursor: pointer;
    background-color: #ffa200;
    border: none;
    color: white;
    text-transform: uppercase;
    font-weight: 600;
    padding: 16px 19px;
}

.box-image:hover .box-btn-buy {
    opacity: 1;
}

.description-product {
    text-align: center;
    padding-bottom: 9px;
    font-weight: 300;
    font-size: 14px;
    padding-top: 17px;
}

.box-price {
    height: 37px;
    display: block;
}

.price {
    text-align: center;
    font-weight: 500;
    font-size: 14px;
}

.price span {
    text-decoration: line-through;
    text-decoration: line-through;
    padding-right: 4px;
}

.installment-price {
    padding-top: 4px;
    text-align: center;
}

.block-4 {
    padding-top: 129px;
}

.pets {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 18px;
}

.banner-pet {
    width: 100%;
}

.newsletter {
    background-color: #8158c5;
}

.benefits {
    border-bottom: 2px solid #ffa200;
    display: flex;
    justify-content: space-around;
    height: auto;
    align-items: center;
    padding: 14px 0;
}

.icon-logo {
    width: 31px;
    margin-right: 10px;
}

.text-benefits {
    color: #ffffff;
    text-transform: uppercase;
    display: flex;
    align-items: center;
}

.text-benefits span{
    color: #ffffff;
    text-transform: uppercase;
    display: contents;
    font-weight: 600;
}

.form-newsletter {
    display: grid;
    justify-items: center;
    padding: 55px 0 58px;
}

.title-newsletter {
    text-transform: uppercase;
    font-size: 24px;
    font-weight: 600;
    color: #ffffff;
    margin-bottom: 25px;
}

.subtitle-newsletter {
    font-size: 14px;
    font-weight: 300;
    color: #ffffff;
    margin-bottom: 70px;
}

.form-news {
    display: flex;
    gap: 18px;
}

.txtNewsletter {
    background: none;
    border: none;
    border-bottom: 1px solid white;
    padding: 11px 1px;
    outline: none;
    color: white;;
}

.txtNewsletter::placeholder{
    font-weight: 300;
    color: #ffffff;
}

.name{
    width: 180px;
}

.email {
    width: 279px;
}

.btn-form {
    padding: 13px 17px;
    font-weight: 600;
    color: #ffffff;
    background-color: #ffa200;
    border: none;
    transition: filter 0.3s;
}

.btn-form:hover {
    filter: brightness(0.8);
}

.container {
    display: flex;
    justify-content: space-between;
    padding: 52px 0 40px;
}

.button-fixed {
    position: fixed;
    bottom: 20px;
    right: 20px;
    display: grid;
}

.go-to-top {
    background: none;
    border: none;
}

.information {
    text-align: center;
}

.logo-footer {
    width: 271px;
    margin-bottom: 31px;
}

.social-media {
    margin-bottom: 23px;
    display: flex;
    justify-content: center;
    gap: 24px;
}

.social-media span {
    background-color: #7f7f7f;
    display: block;
    width: 30px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    transition: all 0.3s;
}

.social-media span:hover{
    background-color: #ffa200;
}

.store-info {
    font-weight: 300;
    font-size: 10px;
}

.store-info::first-child {
    margin-bottom: 10px;
}

.title-menu {
    font-weight: 600;
    color: #8158c5;
    text-transform: uppercase;
    margin-bottom: 20px;
}

.menu-footer {
    display: grid;
    gap: 20px;
}

.item a:hover {
    text-decoration: underline;
}

.payments {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 8px;
}

.payment {
    width: 44px;
}

.copyright {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 26px;
    height: auto;
    border-top: 1px solid #f0f0f0;
    padding: 18px 0 16px;
}

.copyright p {
    font-size: 10px;
    text-transform: uppercase;
}

.logo-seriedesign {
    width: 57px;
}

@media (min-width: 1170px) {
    .block-1 .slick-prev {
        left: calc(50% - 578px);
    }

    .block-1 .slick-next {
        right: calc(50% - 578px);
    }
}

@media (min-width: 768px) and (max-width: 1024px) {
    body {
        zoom: .85;
    }
    .box-image {
        text-align: center;
    }
}

@media (max-width: 768px) {
    .header {
        height: auto;
        padding: 15px 0;
    }

    .search {
        width: 65px;
        text-align: center;
    }

    #txtSearch {
        display: none;
    }

    #lupa {
        position: relative;
        right: 0;
        width: 20px;
        left: 15px;
    }

    .logo {
        width: 158px;
        height: auto;
    }

    #header-actions {
        gap: 5px;
        width: 0;
        margin-right: 5px;
    }

    #login {
        width: 15px;
        height: auto;
    }

    #carrinho {
        width: 24px;
        height: auto;
    }

    .navbar {
        background-color: unset;
    }

    .top-categories {
        display: none;
    }

    .all-categories {
        padding-left: 0;
    }

    .menu-hamburger {
        width: 25px;
    }
}