* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    font-size: 12px;
    color: #7f7f7f;
}

.center {
    max-width: 1170px;
    width: 100%;
    display: block;
    margin: 0 auto;
}

a {
    cursor: pointer;
}

li {
    list-style: none;
}

.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 114px;
}

#search {
    position: relative;
}

#txtSearch {
    width: 198px;
    height: 45px;
    padding: 10px;
    border: 1px solid #cccccc;
}

#txtSearch::placeholder{
    font-weight: 400;
}

#lupa {
    position: absolute;
    right: 15px;
    top: 0;
    bottom: 0;
    margin: auto;
}

.logo {
    width: 271px;
    height: 68px;
}

#login {
    width: 19px;
    height: 25px;
}

#carrinho {
    width: 31px;
    height: 27px;
}

#header-actions {
    position: relative;
    width: 198px;
    display: flex;
    justify-content: flex-end;
    gap: 10px;
    padding-right: 10px;
}

.qtd {
    width: 20px;
    height: 20px;
    background-color: #ffa200;
    border-radius: 100%;
    padding: 5px;
    font-weight: 400;
    font-size: 10px;
    color: #ffffff;
    position: absolute;
    right: -1px;
    top: -8px;
    text-align: center;
}

.navbar {
    background-color: #8158c5;
    height: 50px;
    display: flex;
    align-items: center;
}

.menu {
    display: flex;
    justify-content: center;
}

.categories {
    display: flex;
    gap: 10px;
}

.category a {
    padding: 0 15px;
    font-weight: 300;
    font-size: 14px;
    color: #ffffff !important;
}

.menu-hamburger {
    padding-left: 32px;
}

main {
    padding-bottom: 129px;
}

.block-2 {
    background-color: #ffa200;
    padding: 18px 0;
}

.category-banner {
    height: 100px;
}

.title-category {
    font-weight: 600;
    font-size: 24px;
    color: #7f7f7f;
    text-align: center;
    padding: 40px 0;
}

.products {
    display: flex;
    justify-content: space-between;
}

.destaques {
    padding-bottom: 20px;
}

.product img {
    width: 279px;
    padding-bottom: 17px;
}

.description-product {
    text-align: center;
    padding-bottom: 9px;
    font-weight: 300;
    font-size: 14px;
}

.price {
    text-align: center;
    font-weight: 500;
    font-size: 14px;
}

.price span {
    text-decoration: line-through;
    text-decoration: line-through;
    padding-right: 4px;
}

.installment-price {
    padding-top: 4px;
    text-align: center;
}

.block-4 {
    padding-top: 129px;
}

.pets {
    display: flex;
    gap: 18px;
}

.banner-pet {
    width: 576px;
}

.newsletter {
    background-color: #8158c5;
}

.benefits {
    border-bottom: 2px solid #ffa200;
    display: flex;
    justify-content: space-around;
    height: 67px;
    align-items: center;
}

.icon-logo {
    width: 31px;
    margin-right: 10px;
}

.text-benefits {
    color: #ffffff;
    text-transform: uppercase;
    display: flex;
    align-items: center;
}

.text-benefits span{
    color: #ffffff;
    text-transform: uppercase;
    display: contents;
    font-weight: 600;
}

.form-newsletter {
    display: grid;
    justify-items: center;
    padding: 55px 0 58px;
}

.title-newsletter {
    text-transform: uppercase;
    font-size: 24px;
    font-weight: 600;
    color: #ffffff;
    margin-bottom: 25px;
}

.subtitle-newsletter {
    font-size: 14px;
    font-weight: 300;
    color: #ffffff;
    margin-bottom: 70px;
}

.form-news {
    display: flex;
    gap: 18px;
}

.txtNewsletter {
    background: none;
    border: none;
    border-bottom: 1px solid white;
    padding: 11px 1px;
    outline: none;
}

.txtNewsletter::placeholder{
    font-weight: 300;
    color: #ffffff;
}

.name{
    width: 180px;
}

.email {
    width: 279px;
}

.btn-form {
    padding: 13px 17px;
    font-weight: 600;
    color: #ffffff;
    background-color: #ffa200;
    border: none;
    cursor: pointer;
}

.container {
    display: flex;
    justify-content: space-between;
    padding: 52px 0 40px;
}

.information {
    text-align: center;
}

.logo-footer {
    width: 271px;
    margin-bottom: 31px;
}

.social-media {
    margin-bottom: 23px;
}

.store-address {
    font-weight: 300;
    font-size: 10px;
}

.store-address::first-child {
    margin-bottom: 10px;
}

.title-menu {
    font-weight: 600;
    color: #8158c5;
    text-transform: uppercase;
    margin-bottom: 20px;
}

.menu-footer {
    display: grid;
    gap: 20px;
}

.payments {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 8px;
}

.payment {
    width: 44px;
}

.copyright {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 26px;
    height: 58px;
    border-top: 1px solid #f0f0f0;
}

.copyright p {
    font-size: 10px;
    text-transform: uppercase;
}

.logo-seriedesign {
    width: 57px;
}